#homePage {
    overflow: scroll;
    overflow-x: hidden;
    height: 90vh;
    width: 85vw;
    margin-left: 15vw;
    z-index: 0;
    display: flex;
    justify-content: center;
}
#content {
    margin-top: 10vh;
}
#greeting {
    font-size: 45px;
    margin-bottom: 35px;
}
#sectionTitle {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

#homeCardContainer {
    display: grid;
    gap: 20px;
    grid-template-columns: 250px 250px 250px 250px 250px;
    grid-template-rows: 280px 280px 280px 280px;
}
#homeCardImg {
    height: 200px;
    width: 200px;
    border-radius: 30px;
    transition: .4s;
}
.homeCard {
    height: 200px;
    width: 200px;
    text-align: center;
}
.homeCard:hover {
    cursor: pointer;
    transform: scale(1.05);
}
#homePageTitleContainer {
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 40px;
}
#homePageTitle {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    width: 200px;
}
#exploreMoreHomeContainer {
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    /* margin: 10px; */
    padding-bottom: 40px;
}
#exploreMoreHome {
    padding-top: 20px;
    width: 400px;
}
#fireEmoji {
    height: 25px;
}
#handWaveEmoji {
    height: 45px;
    margin-left: 10px;
}
#exploreMoreHome:hover {
    color: #8D3EFF;
}
#homeCardTitle {
    font-size: 17px;
}