#topBar {
  position: fixed;
  top: 3px;
  right: 0;
  width: 84.5vw;
  height: 7vh;
  border-bottom: 2px solid #c4c4c4;
  z-index: 2;
  text-align: center;
}
#searchBar {
  margin: 12px;
  margin-right: 12vw;
}
#searchBox {
  padding: 7px;
  padding-left: 15px;
  width: 17vw;
  font-size: 17px;
  outline: none;
  border-radius: 20px;
  border-style: solid;
  /* outline: solid #6a0eff 2px; */
}
#searchButton {
  margin-left: 10px;
  padding: 9px;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #5a00eb;
  border-radius: 20px;
  border-style: solid;
  background: #8b42ff;
  color: #fff;
  transition: .2s;
}
#searchButton:hover {
  cursor: pointer;
  background: #6f16ff;
}
#userAccountPanel {
  position: absolute;
  top: 0;
  right: 0.7vw;
}
#userAccountPanel > button {
  font-size: 20px;
  margin: 8px 10px;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  transition: .2s;
}
#userAccountPanel > button:hover {
  cursor: pointer;
  background: #6f16ff;
  color: #fff;
  transform: scale(1.1);
}
#loginButton {
  background: transparent;
}
#signupButton {
  background: #8b42ff;
  color: #fff;
}
